---
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import Paginator from '~/components/Paginator.astro'
import PostPreview from '~/components/PostPreview.astro'
import BaseLayout from '~/layouts/Base.astro'

import {
  getAllPosts,
  getUniqueTags,
  sortMDByDate,
} from '~/utils/getAllPosts'

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const allPosts = await getAllPosts()
  const allPostsByDate = sortMDByDate(allPosts)
  const uniqueTags = getUniqueTags(allPostsByDate)

  return uniqueTags.flatMap((tag) => {
    const filterPosts = allPostsByDate.filter((post) =>
      post.data.tags.includes(tag),
    )
    return paginate(filterPosts, {
      pageSize: 10,
      params: { tag },
    })
  })
}

interface Props {
  page: Page<CollectionEntry<'blog'>>
}

const { page } = Astro.props
const { tag } = Astro.params

const meta = {
  description: `View all posts with the tag - ${tag}`,
  title: `Tag: ${tag}`,
}

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      text: '← Previous Tags',
      url: page.url.prev,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      text: 'Next Tags →',
      url: page.url.next,
    },
  }),
}
---

<BaseLayout meta={meta}>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }
    ul li {
      margin-bottom: 1rem;
    }
    .text-accent {
      color: var(--color-accent);
      text-decoration: none;
    }
    .text-accent:hover {
      text-decoration: underline;
    }
  </style>
  <h1 class="title mb-6 flex items-center">
    <a class="text-accent" href="/tags/">Tags</a>
    <span class="me-3 ms-2">→</span>
    <span class="text-xl">#{tag}</span>
  </h1>
  <hr />
  <section aria-label="Blog post list">
    <ul>
      {
        page.data.map((p) => (
          <li>
            <PostPreview post={p} withDesc withTags />
          </li>
        ))
      }
    </ul>
    <Paginator {...paginationProps} />
  </section>
</BaseLayout>
