---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
  withTags?: boolean;
  withDesc?: boolean;
};

const { post, withTags = false, withDesc = false } = Astro.props;
const postDate = post.data.updatedDate ?? post.data.pubDate;
---

<div>
  {post.data.draft && <span class="draft">(Draft)</span>}
  <a href={`/blog/${post.slug}/`}>{post.data.title.trim()}</a> ·
  <FormattedDate date={postDate} style={{ opacity: 0.4, fontSize: "0.85em" }} />
  {withDesc && <i>{post.data.description}</i>}
  {
    withTags && post.data.tags && (
      <div>
        {post.data.tags.map((tag) => (
          <>
            <code>#{tag}</code>{" "}
          </>
        ))}
      </div>
    )
  }
</div>

<style>
  i {
    font-size: 0.85em;
    color: var(--text-color-sec);
    display: block;
  }

  .draft {
    font-size: 0.85em;
    color: var(--accent);
  }

  code {
    font-size: 0.75em;
  }
</style>

<!-- <div class="line-1">
  <div class="title">
    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
  </div>
  <div class="date">
    <FormattedDate date={postDate} />
  </div>
</div>
<div class="description">{post.data.description}</div>
<div class="tags-line">
  {post.data.tags && post.data.tags.map((tag) => <code>#{tag}</code>)}
</div>

<style>
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .line-1 {
    display: flex;
    align-items: center;
  }
  .line-1 .title {
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .tags-line {
    display: flex;
    gap: 0.5rem;
    font-size: 0.85em;
  }
  .description {
    color: var(--text-color-sec);
  }
  a {
    text-decoration: none;
  }
</style> -->
